.postContainer{
    display: block;
    h1{
        text-align: justify;
        letter-spacing: -0.5px;
        font-size: 1.75rem;
        font-weight:700;
    }
    p{
        margin: 1rem 0 2rem 0;
    }
    & + .postContainer{
        margin-top: 3rem;
    }
}
.info{
    display: flex;
    text-align: justify;
    justify-content: justify;
    gap: 1.625rem;
    color:var(--text-info);
}
.details{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 0.5rem;

    & svg{
        width: 20px;
        height: 20px;
    }
}
.carregarPost{
    display: block;
    color: var(--text-active);
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 4rem;
    
}


