.banner{
    width: 100%;
    
}
.container{
    margin:5rem auto 5rem auto;
    h1{
        font-size:3rem;
        font-weight: 700;
    }
}
.content{
    margin-top: 4rem;

    h2{
        
        margin-bottom: 3rem;
    }
     p{
        
        line-height: 2rem;
        & + p{
            margin-top: 2rem;
        }
     }
   
}
